<div class="container">
  <div class="row">
    <div class="col-lg-10 px-5 mx-auto">

      <p class="col-md-6 h2 bg-white">登録内容編集</p>
      <% if @customer.errors.any? %>
        <% @customer.errors.full_messages.each do |message| %>
          <p class="text text-danger"><%= message %></>
        <% end %>
      <% end %>

      <div class="col-md-7 bg-white px-4 pt-md-3 border-right border-bottom border-warning">
        <%= form_with model: @customer, url: customers_path(@customer.id), method: :patch, local: true do |f| %>
          <div class="form-group row">
            <%= f.label "名前：", class: "col-form-label text-md-right col-md-6" %>
            <%= f.text_field :name, class:"form-control col-md-6 mb-md-2" %>
          </div>
          <div class="form-group row">
            <%= f.label "電話番号：", class: "col-form-label text-md-right col-md-6" %>
            <%= f.telephone_field :telephone_number, class:"form-control col-md-6 mb-md-2" %>
          </div>
          <div class="form-group row">
            <%= f.label "メールアドレス：", class: "col-form-label text-md-right col-md-6" %>
            <%= f.email_field :email, class:"form-control col-md-6 mb-md-2" %>
          </div>
          <div class="form-group row justify-content-center">
            <%= f.submit "変更する", class: "btn btn-outline-success mr-1" %>
            <%= link_to "退会する", customers_cancel_path(current_customer), method: :patch, "data-confirm" => "再度ログインするには別のメールアドレスでの新規会員登録が必要です。退会しますか？", class: "btn btn-outline-danger mr-1" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>