<div class="container">
  <div class="row">
    <div class="col-lg-12 px-5 mx-auto">

      <p class="col-md-3 h2 bg-white">My Page</p>
      <div class="col-md-6 m-3 mb-4">
          <table class="mb-3">
            <tbody>
              <tr>
                <th>名前：</th>
                <td><%= current_customer.name %></td>
              </tr>
              <tr>
                <th>電話番号：</th>
                <td><%= current_customer.telephone_number %></td>
              </tr>
              <tr>
                <th>メールアドレス：</th>
                <td><%= current_customer.email %></td>
              </tr>
            </tbody>
          </table>
        <div>
          <%= link_to "登録内容を編集する", edit_customers_path(current_customer), class: "btn btn-success" %>
        </div>
      </div>

      <div>
        <p class="col-md-6 h4 bg-white">予約履歴<br class="d-md-none">（最新10件）</p>
        <table class="table bg-white p-2 border-right border-bottom border-warning">
          <thead>
            <tr>
              <th class="col-2 text-center">予約日時</th>
              <th class="col-4 text-center">予約商品（個数）</th>
              <th class="col-2 text-center">予約形態</th>
              <th class="col-2 text-center">来店予定時刻<br>(テイクアウトのみ)</th>
              <th class="col-2">備考</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td class="col-2 text-center">
                <%= order.created_at.strftime('%Y/%m/%d %R') %><br>
                <!--予約した当日中のみ表示させる-->
                <% if (Time.current < Date.current + 23.hour) && (order.created_at < Time.current.end_of_day) && (Time.current.beginning_of_day < order.created_at) then %>
                  <%= link_to "変更・キャンセル", edit_order_path(order) %>
                <% end %>
              </td>
              <td class="col-3 text-nowrap">
                <ul>
                <% order.order_details.each do |order_detail| %>
                  <li>
                    <%= order_detail.product.product_name %>（<%= order_detail.reservation_quantity %>）
                  </li>
                <% end %>
                </ul>
              </td>
              <td class="col-2 text-center"><%= order.order_system_i18n %></td>
              <td class="col-2 text-center"><%= order.time.strftime('%R') %></td>
              <td class="col-2"><%= order.note %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>