<div class="container">
  <div class="row">
    <div class="col-lg-12 px-5 mx-auto">

      <h2>予約情報</h2>

      <div class="">
        <div class="col-lg-6">
          <div class="bg-light rounded-lg px-2 pt-2 mr-1">
            <h4>予約受付中の商品</h4>
            <table class="table">
              <thead>
                <tr>
                  <td class="text-center">商品名</td>
                  <td class="col-3 text-center">金額</td>
                  <td class="col-4 text-center">残り個数</td>
                </tr>
              </thead>
              <tbody>
                <% @products.each do |product| %>
                <tr>
                  <td class="col-6"><%= product.product_name %></td>
                  <td class="text-center"><%= product.price %>円</td>
                  <td class="text-center"><%= product.max_quantity %>個</td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="overflow-auto col-lg-11">
          <h4><%= @today %>の予約一覧</h4>
          <table class="table">
            <thead>
              <tr>
                <td class="text-center col-2">予約者名</td>
                <td class="text-center col-4">商品名（個数）</td>
                <td class="text-center col-2">予約形態</td>
                <td class="text-center col-2">来店予定時間</td>
                <td class="colspan-2">備考</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
              <tr>
                <td class="text-center">
                  <%= link_to order.customer.name, admin_customer_path(order.customer_id) %>
                </td>
                <td>
                  <% order.order_details.each do |order_detail| %>
                  <ul>
                    <li>
                      <%= order_detail.product.product_name %>（<%= order_detail.reservation_quantity %>）
                    </li>
                  </ul>
                  <% end %>
                </td>
                <td class="text-center"><%= order.order_system_i18n %></td>
                <td class="text-center"><%= order.time.strftime('%R') %></td>
                <td><%= order.note %></td>
                <td class="no-wrap"><%= order.order_status_i18n %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
