<div class="container">
  <div class="row">
    <div class="col-lg-12 px-5 mx-auto">

      <p class="col-lg-3 h2 bg-white">商品情報編集</p>
      <% if @product.errors.any? %>
        <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
        </ul>
      <% end %>

      <div class="bg-white p-2 rounded-lg border border-warning">
        <%= form_with model: @product, url: admin_product_path(@product.id), method: :patch, local: true do |f| %>
          <div class="form-group row">
            <%= f.label "商品名：", class:"col-form-label col-md-3" %>
            <%= f.text_field :product_name, class:"form-control col-md-8 mb-md-2" %>
          </div>
          <div class="form-group row">
            <%= f.label "価格：", class:"control-label col-md-3" %>
            <%= f.text_field :price, class:"form-control col-8 col-md-2 mb-md-2" %><p class="col-1 m-0 py-2">円</p>
          </div>
          <div class="form-group row">
            <%= f.label "最大個数：", class:"control-label col-md-3" %>
            <%= f.text_field :max_quantity, class:"form-control col-8 col-md-2 mb-md-2" %><p class="col-1 m-0 py-2 mb-2">個</p>
          </div>
          <div class="form-group row">
            <%= f.label "予約状態：", class:"control-label col-md-3" %>
            <%= f.select :product_status, Product.product_statuses_i18n.keys.map{|k| [I18n.t("enums.product.product_status.#{k}"), k]}, {class:"form-control"} %>
          </div>
        <div class="form-group row">
          <div class="col-sm-10 col-md-2 offset-md-3">
            <%= f.submit "変更", class:"btn btn-outline-success btn-block" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
