<div class="container">
  <div class="row">
    <div class="col-lg-10 px-5 mx-auto">
      <p class="col-md-9 h2 bg-white"><%= @order.date_today %>のご予約できる商品</p>
      <% order = Order.new %>
      <% order.order_details.build %>
      <% if @order.errors.any? %>
        <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li class="text text-danger"><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="bg-white p-3 border-right border-bottom border-warning">
        <% if @products.where(max_quantity: 0).exists? %>
          <p class="text-danger">申し訳ございません。商品が売り切れのためご予約できません。</p>
        <% end %>
        <%= form_with model: order, url: orders_confirm_path, local: true do |f| %>
          <% @products.each do |product| %>
            <div class="row col-md-8">
              <ul class="col-7">
                <li>
                  <%= product.product_name %>
                </li>
              </ul>
              <p class="col-1">
                <%= number_to_currency(product.price, precision: 0, format: "%u%n", unit: "￥") %>
              </p>
              <div class="col-3 offset-1 text-nowrap">
              <%= f.fields_for :order_details, local: true do |ff| %>
                <%= ff.hidden_field :order_id, value: order.id %>
                <%= ff.hidden_field :product_id, value: product.id %>
                <% if product.max_quantity < 1 %>
                  <p> 売り切れです </p>
                <% elsif product.max_quantity == 1 %>
                  <%= ff.select :reservation_quantity, *[0..1] %>個
                <% else %>
                  <%= ff.select :reservation_quantity, *[0..2] %>個
                <% end %>
              <% end %>
              </div>
            </div>
          <% end %>
          <div>
            <div class="form-group form-inline row">
              <%= f.label :order_system, "予約形態", class: "col-form-label col-md-3" %>
              <div class="form-check form-check-inline">
                <%= f.radio_button :order_system, Order.order_systems.key(0), checked: true, class:"form-check-input" %>
                <%= f.label :order_system_layaway, Order.order_systems_i18n[:layaway], class:"form-check-label" %>
              </div>
              <div class="form-check form-check-inline">
                <%= f.radio_button :order_system, Order.order_systems.key(1), class:"form-check-input" %>
                <%= f.label :order_system_take_out, Order.order_systems_i18n[:take_out], class:"form-check-label" %>
              </div>
            </div>
            <div class="form-group form-inline row">
              <%= f.label :time, "来店予定時間", class: "col-form-label col-md-3" %>
              <%= @order.date_today %>
              <%= f.time_select :time, class: 'form-control' %>
              　※現在から18時までの時間をご入力ください。
            </div>
            <div class="form-group form-inline row">
              <%= f.label :note, "備考", class: "col-form-label col-md-3" %>
              <%= f.text_field :note, class: 'form-control col-md-5' %>
            </div>
            <div class="form-group text-center">
              <% if @products.where(max_quantity: 0).exists? %>
                <%= f.submit "予約内容を確認する", class: "btn btn-outline-primary disabled" %>
              <% else %>
                <%= f.submit "予約内容を確認する", class: "btn btn-outline-primary" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
